body
{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    color: #4f12c0;
}

/* .slide-container
{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to right, rgb(36, 9, 120), rgb(0,0,0));
} */
.container
{
    width: 1000px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /*this sort of works but play around with the line below!*/
    grid-column-gap: 50px
}
.card
{
    position: relative;
    left: -6%;
    width: 500px;
    height: 370px;
    transition: 0.3s ease-out;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
    filter: saturate(10%);
    
}

/* .button
{
   position: absolute; 
   width: 240px;
   height: 370px;
   transition: .5s;
   background-color: ;
} */

.card .imgbox
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card .imgbox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: block;
    transition: 0.5s;
    
}

.card .content
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 12px;
    background: #ff0066;
    transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
    box-sizing: border-box;
    overflow: hidden;
}

.card:hover .content 
{
    width: 100%;
    height: 60%;
    left: 0;
    bottom: 0;
}

.content p
{
    margin: 10px 0 0;
    padding: 1em 1em;
    transform: translateY(2em);
    line-height: 1.3em;
    transition: 0.3s;
    text-align: justify;
    opacity: 0;

}

.card:hover .content p
{
    transform: translateY(0);
    opacity: 1;
    filter: saturate(100%);

}

h2
{
    text-align: center;
}

.card:hover
{
    box-shadow: 0 0 5em rgba(0, 0, 0, 0.4);
    filter: saturate(100%);
}
.card .imgbox img:hover
{
    filter: saturate(100%);
}