body
{
    text-align: center;
    margin: 50px;
    font-family: 'Courier New', Courier, mospace;
    background-color: #843c9d;
}

.header
{
    text-align: center;
    color: #ffffff;
    font-size: 35px;
    padding: 10px;
}

.container
{
    width: auto;
    height: auto;
    margin: auto;
    padding: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /*this sort of works but play around with the line below!*/
    grid-column-gap: 20px
}
.card
{
    position: relative;
    left: -1%;
    width: 500px;
    height: 500px;
    transition: 1s ease-out;
    /* if we have no 0 then the shadow looks very clear*/
    /* also try to figure out how to make shadow more clear but just changing color
    to like gold makes it brighter rgba(71, 36, 100, 0.3)
    fix the shadow to look better
    box-shadow: 0 3px 15px gold;*/
    filter: saturate(100%);
}

.card .imgbox
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card .imgbox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: block;
    transition: 0.5s; 
    object-fit: cover;
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    border-color: #3a1945;
    box-shadow: 12px 12px 0px 0px #3a1945;
}

.card .content
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 130px;
    background: #BFA3CC;
    overflow: hidden;
    border-radius: 0 0 12px 12px;
    border-style: solid;
    border-width: 2px;
    border-color: #3a1945;
    box-shadow: 12px 12px 0px 0px #3a1945;
}

.card:hover .content 
{
    width: 100%;
    height: 60%;
    left: 0;
    bottom: 0;
}

.content p
{
    margin: 10px 0 0;
    padding: 1em 1em;
    transform: translateY(2em);
    line-height: 1.3em;
    transition: 0.3s;
    text-align: justify;
    opacity: 0;
    color: #ffffff;
}

.card:hover .content p
{
    transform: rotateY(180deg);
    /* opacity: 1;
    filter: saturate(100%); */
}

h2
{
    text-align: center;
    font-size: 30px;
    padding: 25px;
    color: #3a1945;
}

/* .card:hover
{
    box-shadow: 0 0 5em gold;
    filter: saturate(100%);
}
.card .imgbox img:hover
{
    filter: saturate(100%);
} */